@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-light: #f0edff;
  --bg-color-dark: #07021e;
  --border-color: #4f4dc3;
  --text-color: #4f4dc3;
  --text-color-light: #07021e;
  --text-color-dark: #efec88;
}

body {
  background-color: var(--bg-color-light);
  transition: background-color 0.5s;
}

body.dark {
  background-color: var(--bg-color-dark);
}

.form-group {
  position: relative;
}

.form-group input {
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-color-light);
  transition: 0.15s all ease;
}

body.dark .form-group input {
  color: var(--text-color-dark);
}

.form-group input:focus {
  border-color: var(--border-color);
  color: var(--text-color-light);
  outline: none;
  box-shadow: none;
}

body.dark .form-group input:focus {
  color: var(--text-color-dark);
}

.form-group input::placeholder {
  color: transparent;
}

.form-group .form-label {
  position: absolute;
  top: 13px;
  left: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 6px;
  pointer-events: none;
  transition: 0.15s all ease;
  background-color: var(--bg-color-light);
}

body.dark .form-group .form-label {
  background-color: var(--bg-color-dark);
}

.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + .form-label {
  transform: translate(5px, -26px);
  font-size: 1rem;
  color: var(--text-color);
}

body.dark .form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + body.dark .form-label {
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4f4dc3;
  border-radius: 10px;
}

@media (min-width: 1920px) {
  .form-group input {
    font-size: 2rem;
  }

  .form-group .form-label {
    top: 8px;
    left: 8px;
    font-size: 1.8rem;
  }

  .form-group input:focus + .form-label,
  .form-group input:not(:placeholder-shown) + .form-label {
    transform: translate(10px, -36px);
    font-size: 1.8rem;
  }
}
